<div class="govuk-width-container">
    <govuk-phase-banner>
        <govuk-phase-banner-tag>Alpha</govuk-phase-banner-tag>
        <span class="govuk-phase-banner__text">
            This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
        </span>
    </govuk-phase-banner>
</div>

