@using ConfluencePOC.Web.Models.Contentful
@using ConfluencePOC.Web.Models.PageTypes
@model ConfluencePOC.Web.Models.Contentful.Row

<div class="govuk-grid-row">

   @foreach (RowContent rowContent in Model.Content)
   {
      var cssClass = "govuk-grid-column-full";
      switch (rowContent.Width)
      {
         case "One Third":
            cssClass = "govuk-grid-column-one-third";
            break;
         case "Two Thirds":
            cssClass = "govuk-grid-column-two-thirds";
            break;
         case "One Half":
            cssClass = "govuk-grid-column-one-half";
            break;
         case "Full Row":
            cssClass = "govuk-grid-column-full";
            break;
      }

      @if (rowContent.Content != null)
      {
         <div class="@cssClass">
            <gds-contentful-rich-text document="@rowContent.Content"/>
         </div>
      }

      @if (rowContent.Grid != null)
      {
         rowContent.Grid.CssClass = cssClass;
         <partial model="@rowContent.Grid" name="Grid"/>
      }
   }
</div>