@model ConfluencePOC.Web.Models.Contentful.RichContentBlock

 @if (Model.Entries != null)
 {
     <div class="govuk-grid-row">
         @foreach (var content in Model.Entries)
         {
             <partial name="RichContent/Content" model="@content"/>
         }
     </div>
             
 }
