
.status-launch {
  display: block;
  width: 99%;
  border: 1px #003a6a solid;
  background-color: #f3f2f1;
  margin: 0;
  padding: 0;
  margin-bottom:30px;
}
.header-side {
  background-color: #003a6a;
  padding: 15px;
}
.header-side h2 {
  color: white;
}
.header-side h2 a {
  color: white;
  text-decoration: none;
}
.header-side h2 a:hover {
  color: white;
  text-decoration: underline;
}
.body-side {
  padding: 15px;
}
 
