@model ConfluencePOC.Web.Models.Contentful.Card

@{
    string link = Model.Link?.Slug ?? string.Empty;
}

<div class="hf-card">
    <a href="@link">
        <div class="hf-card-container">
            <gds-contentful-image asset="Model.Image" class="full-width-image" title="@Model.Title"/>
            <div class="cat-card-details">
                <h3 class="govuk-heading-m">@Model.Title</h3>
                <p class="govuk-body">@Model.Text</p>
            </div>
        </div>
    </a>
</div>
