@using System.Globalization
@model Contentful.Core.Models.SystemProperties

<div class="govuk-grid-row">
    <div class="metadata-logo-wrapper">
        <div class="govuk-grid-column-two-thirds metadata-column">
            <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
                <dl class="gem-c-metadata__list">
                    <dt class="gem-c-metadata__term">From:</dt>
                    <dd class="gem-c-metadata__definition notranslate">
                        <a class="govuk-link" href="https://www.gov.uk/government/organisations/department-for-education">Department for Education</a>

                    </dd>
                    <dt class="gem-c-metadata__term">Published</dt>
                    <dd class="gem-c-metadata__definition">@Model.CreatedAt.Value.ToString("dd MMMM yyyy", DateTimeFormatInfo.InvariantInfo)</dd>
                    <dt class="gem-c-metadata__term">Last updated</dt>
                    <dd class="gem-c-metadata__definition">@Model.UpdatedAt.Value.ToString("dd MMMM yyyy", DateTimeFormatInfo.InvariantInfo)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>