@using ConfluencePOC.Web.Models.Contentful
@using ConfluencePOC.Web.Models.PageTypes
@using Contentful.Core.Models
@model Homepage
@{
    ViewData["Title"] = Model.Title;
}

@section BeforeGDSContent
{
    <div class="govuk-grid-row">
       <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-xl" id="@TagBuilder.CreateSanitizedId(Model.Title, "-")">
             @Model.Title
          </h1>
          <p class="govuk-body">@Model.Tagline</p>

       </div>
       @if (Model.HeroImage != null)
       {
          <div class="govuk-grid-column-one-third">
             <div><gds-contentful-image asset="Model.HeroImage"/></div>
          </div>
       }
    </div>
}

@foreach (Row row in Model.Content)
{
   <partial model="@row" name="Row"/>
}

@section AfterGDSContent
{
   @{ await Html.RenderPartialAsync("LastUpdated", Model.Sys); }
}
